@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #f3f3f3 !important;
}
.drop-shadow{
    box-shadow: 0px 16px 32px rgba(0, 255, 242, 0.144);
}
.searchbar{
    border: 0px;
    box-shadow: 0px 16px 32px rgba(0, 89, 255, 0.244);
    padding: 10px 10px;
    border-radius: 6px;
}
.searchbar:focus{
    outline: none;
    border:0px solid rgba(173, 173, 173, 0.411);
}
.search-btn{
    font-weight: 600; 
    border-radius:6px; 
    padding: 10px 12px; 
    border:0px;
    background-color:#ffffff;
    color:#0077ED;
    box-shadow: 0px 16px 32px rgba(0, 89, 255, 0.244);
}
.search-btn:hover{
    background-color: #f3f3f3;
}